apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization

resources:
  - ../base/stacks
  - infrastructure.yaml
  - version-monitoring.yaml
  - apps.yaml

patches:
  - target:
      kind: Stack
      name: oceanid-cluster-prod
      namespace: pulumi-system
    patch: |-
      - op: replace
        path: /spec/config/oceanid-cluster:nodeName
        value: tethys
      - op: add
        path: /spec/config/oceanid-cluster:nodeRole
        value: control-plane
